.group{
    $aColor:#007982;
    a{
        color:$aColor;
        @include hover;
    }
    .t-content{
        li{
            width: 252px;
            height: 88px;
            margin-right: 26px;
            img{
                @extend %fl;
                width: 48px;
                height: 48px;
            }
            div{
                @extend %fl;
                padding-left: 15px;
            }
            b{
                padding-bottom:5px;
                width: 189px;
            }
        }
    }
    .t-classic{
        h5{
        	@include hover;
        }
    }
}  
